*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: inherit;
}

html {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  text-align: center;
  /* background-color: lightgreen; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  padding-top: 60px;
  color: peru;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  user-select: none;
}

.gallery__img {
  width: 24%;
  margin-bottom: 10px;
}

.arrow {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.arrow:hover {
  background-color: #666;
}

.arrow__prev {
  left: 0;
}

.arrow__next {
  right: 0;
}

svg {
  width: 50px;
  height: 50px;
}

.lightbox {
  position: fixed;
  display: none;
  top: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.lightbox__image {
  width: 60%;
  z-index: 10;
}

.lightbox__content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(199, 206, 208, 0.5);
  z-index: -1;
}

.one {
  height: 100vh;
  width: 100%;
  background-color: skyblue;
}

.two {
  height: 100vh;
  width: 100%;
  background-color: orange;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: khaki;
  height: 10vh;
}

.nav__active {
  height: 7vh;
  box-shadow: 1px 1px 10px #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.nav__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
}

.nav__link {
  padding: 5px 5px;
  color: #666;
  transition: all 0.3s;
  position: relative;
}

.nav__link:hover {
  color: #000;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #666;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  transform: translateX(-50%);
  background-color: #fff;
  transition: all 0.3s;
  transform-origin: center;
}

.nav__link:hover::after {
  width: 100%;
}


.scroll-top {
  background-color: red;
}